* {
    font-family: 'Courgette', cursive;}
  
  body{
    background-image: no-repeat;
    background-size:cover;
  }
  
  .defaultbanner{ background-image: url("https://i.pinimg.com/originals/dc/ed/7b/dced7b0c2ab70354c2cb04a9064ef381.jpg");
  
  }
  
  .Gryffindor{ background-image: url("https://wallpaperplay.com/walls/full/e/7/8/176464.jpg");
  
  }
  
  .Slytherin{ background-image: url("https://wallpaperplay.com/walls/full/8/c/9/3137.jpg");
  
  }
  
  .Hufflepuff{ background-image: url("https://wallpapercave.com/wp/wp1958756.jpg");
  
  }
  
  .Ravenclaw{ background-image: url("https://www.barraques.cat/pngfile/big/28-285004_free-download-ravenclaw-background-id-harry-potter-ravenclaw.jpg");
  
  }